<!DOCTYPE html>
<html>

<head>
  <title>React.</title>
  <meta charset="utf-8" />
</head>

<body>
  <div>
    <p><a href="http://localhost:<%= port %>?chapter=TestProject">Test Project.</a></p>
    <p><a href="http://localhost:<%= port %>?chapter=Forms">Forms.</a></p>
    <p><a href="http://localhost:<%= port %>?chapter=FetchAPI">Fetch API.</a></p>
    <p><a href="http://localhost:<%= port %>?chapter=CustomRouter">Custom Router.</a></p>
    <p><a href="http://localhost:<%= port %>?chapter=ReactRouter">React Router.</a></p>
  </div>
  <hr />
  <div id="app"></div>
  <script src="<%= bundle %>"></script>
</body>

</html>