<!DOCTYPE html>
<html>

<head>
  <title>React.</title>
  <meta charset="utf-8" />
</head>

<body>
  <div>
    <p><a href="http://localhost:<%= port %>?chapter=TestProject">Test Project.</a></p>
    <p><a href="http://localhost:<%= port %>?chapter=Forms">Forms.</a></p>
    <p><a href="http://localhost:<%= port %>?chapter=FetchAPI">Fetch API.</a></p>
    <p><a href="http://localhost:<%= port %>?chapter=CustomRouter">Custom Router.</a></p>
    <p><a href="http://localhost:<%= port %>?chapter=ReactRouter">React Router.</a></p>
    <p><a href="http://localhost:<%= port %>?chapter=Redux&#47;Flux">Redux/Flux.</a></p>
    <p><a href="http://localhost:<%= port %>?chapter=Redux&#47;App">Redux/App.</a></p>
    <p><a href="http://localhost:<%= port %>?chapter=Redux&#47;ReactRedux">Redux/ReactRedux.</a></p>
  </div>
  <hr />
  <div id="app"></div>
  <div id="main-1"></div>
  <div id="main-2"></div>
  <div id="main-3"></div>
  <div id="main-4"></div>
  <div id="main-5"></div>
  <script src="<%= bundle %>"></script>
</body>

</html>